*{
    box-sizing: border-box;
    margin: 0;
    padding: o;
    /*Add fonts*/
}
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}